@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import "tailwindcss";
@custom-variant dark (:where(.dark, .dark *) &);

@theme inline {
  --font-sans:
    "Pretendard Variable", Pretendard, ui-sans-serif, system-ui, sans-serif;
}

body {
  font-family:
    "Pretendard Variable", Pretendard, ui-sans-serif, system-ui, sans-serif;
}

@layer utilities {
  pre {
    font-family: inherit;
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none; /* Firefox */
  }

  .scroll-touch {
    -webkit-overflow-scrolling: touch;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }

  .scrollbar-custom::-webkit-scrollbar {
    height: 3px; /* 가로 스크롤 */
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background: #364153; /* thumb 색 */
    border-radius: 9999px;
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    background: transparent;
  }

  button {
    cursor: pointer;
  }
}


@layer base {
  /* 전체 스크롤바 정의 */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-button:start:decrement,
  ::-webkit-scrollbar-button:end:increment {
    display: none !important;
    background: transparent !important;
    height: 0 !important;
    width: 0 !important;
  }
  ::-webkit-scrollbar-button {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #e5e7eb;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #d1d5db;
  }
}
